@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url(newyear.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    color: white;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    margin: 1rem 2rem;
    line-height: 1;
}

.countdown-el{
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}